body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: : 60px;
}

#top{
  background-color: #3a85ff;
  color: white;
  width: 1000px;
  height: 90px;
  padding: 25px;
  font-size: 70px;
  margin: auto;
}

#chat{
  margin: auto;
  width: 1000px;
  padding: 25px;

  background-color: yellow;

}

#input {

  margin: auto;
  width: 1000px;
  padding: 25px;
  background-color: #3a85ff;
  height: 90px;


}

#message
    {
      font-family: 'Roboto', sans-serif;
      float: left;
      display: block;
      width: 400px;
      height: 30px;
      padding: 15px;
      border: 0px solid black;
      border-radius: 15px;
      height: 60px;
      color: black;
      align: center;
      font-size: 28px;

      transition: width 1s;
      transition-timing-function: ease-in-out;

    }
  #message:focus
  {
  transition-timing-function: ease-in-out;
  width: 800px;

  outline: none;
  transition: 1s;
  }

  button{
    font-family: 'Roboto', sans-serif;
    float:right;
    font-size: 50px;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    color: black;
  }
